.card-secundarias {
  font-size: 16px;
  background-color: var(--cardBackground);
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
}
.container-txt-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.container-txt-icon img {
  width: 16px;
  height: 16px;
}
.container-txt-icon p {
  color: var(--azulDesaturado);
  font-size: 0.75em;
  font-weight: 700;
}
.container-number {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.icon-porcentajes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number-principal {
  font-size: 2em;
  font-weight: 700;
  color: var(--texto);
  line-height: 26px;
}
.number-porcentajes {
  font-size: 0.8em;
  margin-left: 3px;
  color: var(--LimeGreen);
}
.rojo {
  color: var(--BrightRed);
}
